<div class="leaderboard-container group" id="leaderboard">
	<div class="leaderboard-container-aside">
		<div class="logo-container">
			<%= image_tag "Audacy-Logo-lockup.png" %>
		</div>
			<div class="leaderboard-list">
				<ol>
					<% @top_10.each do |p| %>
					<li>
	          <%= p[1][0] %>
	          <%= p[1][1] %>
					</li>
					<% end %>
				</ol>
			</div>
	</div> <!-- leaderboard-container-aside -->
	<div class="new_game">
		<h1 style="padding-bottom:50px">Thanks for Playing!</h1>
		<div class="total-score-text-2">TOTAL POINTS</div>
		<div class='final-count-showdown'>
			<h1 class="player1-center end_score">Player One</h1>
			<div id="total-score-player1-leaderboard">0</div>
		</div>
		<div class='final-count-showdown'>
			<h1 class="player2-center end_score">Player Two</h1>
			<div id="total-score-player2-leaderboard">0</div>
		</div>
	</div>
	<div class="pregame reset">
  	<%= image_tag "audacy.png", class: "pregame_image" %>

		<%= link_to "Let's Play!", "#", id: "moderator_link", class: "btn btn-primary btn-lg moderator_link" %>
  </div>
	<div class="leaderboard-container-section end_of_game">
		<div class="question-container group">
			<div class="question-container-left">
				<h1>Question:</h1>
				<p class="question"></p>
				<div class="timer-container">
					<p class="text-align-center margin-top-50">TIMER</p>
					<div id="progressBar">
  					<div></div>
					</div>


				</div>
			</div>
			<div class="question-container-right">
				
			</div>
			
		</div><!-- question-container -->
		<div class="head-to-head-container group">
			<div class="lightbulb-container-left">
					<div class="single-leaderboard-lightbulb group">
						<figure class="leaderboard-lightbulb-square">A</figure><div class="leaderboard-lightbulb-left-2"></div><p class="leaderboard-lightbulb-left-text-2">-</p>
					</div>
					<div class="single-leaderboard-lightbulb group">
						<figure class="leaderboard-lightbulb-square">B</figure><div class="leaderboard-lightbulb-left-3"></div><p class="leaderboard-lightbulb-left-text-3">-</p>
					</div>
					<div class="single-leaderboard-lightbulb group">
						<figure class="leaderboard-lightbulb-square">C</figure><div class="leaderboard-lightbulb-left-4"></div><p class="leaderboard-lightbulb-left-text-4">-</p>
					</div>
					<div class="single-leaderboard-lightbulb group">
						<figure class="leaderboard-lightbulb-square">D</figure><div class="leaderboard-lightbulb-left-5"></div><p class="leaderboard-lightbulb-left-text-5">-</p>
					</div>
					<div class="single-leaderboard-lightbulb group">
						<figure class="leaderboard-lightbulb-square">E</figure><div class="leaderboard-lightbulb-left leaderboard-lightbulb-left-6"></div><p class="leaderboard-lightbulb-left-text-6">-</p>
					</div>
			</div>
			
			<div class="center-player-display group"> 
				<div class="player1-center">Player One</div>
				<div class="versus dark-text">vs</div> 
				<div class="player2-center">Player Two </div>
			</div>
			
			<div class="lightbulb-container-right">
					<div class="single-leaderboard-lightbulb group">
					<figure class="leaderboard-lightbulb-square">A</figure>
					<div class="leaderboard-lightbulb-right-2"></div>
					<p class="leaderboard-lightbulb-right-text-2">-</p>
					</div>
					
					<div class="single-leaderboard-lightbulb group">
					<figure class="leaderboard-lightbulb-square">B</figure>
					<div class="leaderboard-lightbulb-right-3"></div>
					<p class="leaderboard-lightbulb-right-text-3">-</p>
					</div>
					
					<div class="single-leaderboard-lightbulb group">
					<figure class="leaderboard-lightbulb-square">C</figure>
					<div class="leaderboard-lightbulb-right-4"></div>
					<p class="leaderboard-lightbulb-right-text-4">-</p>
					</div>
					
					<div class="single-leaderboard-lightbulb group">
					<figure class="leaderboard-lightbulb-square">D</figure>
					<div class="leaderboard-lightbulb-right-5"></div>
					<p class="leaderboard-lightbulb-right-text-5">-</p>
					</div>
					
					<div class="single-leaderboard-lightbulb group">
					<figure class="leaderboard-lightbulb-square">E</figure>
					<div class="leaderboard-lightbulb-right-6"></div>
					<p class="leaderboard-lightbulb-right-text-6">-</p>	
					</div>
			</div>
		</div>
		<div class="total-score-container group">
			<div class="total-score-player1">0</div>
			<div class="total-score-text">TOTAL POINTS</div>
			<div class="total-score-player2">0</div>
		</div>
	
	</div><!-- leaderboard-container-section -->

</div> <!-- leaderboard-container group -->

