.col-md-12.col-sm-12.reset#leaderboard
  .col-sm-3.col-md-2#blue_content.reset
    =image_tag("lb.png", style:"max-height:130px")
    =image_tag("audacy.png", class: "audacy_lb")
    %br/
    %h1.brightest_bulb
      THE 
      %br/ 
      BRIGHTEST 
      %br/ 
      BULBS
    %ul.list-group#top_10_ul
      - @top_10.each do |p|
        %li.list-group-item#top_10_list
          = p[0] 
          = p[1][0]
          = p[1][1]
  .col-sm-9.col-md-10#main_content.reset
    .pregame.reset
      = image_tag "audacy.png", class: "pregame_image"
      = link_to "Let's Play!", "#", id: "moderator_link", class: "btn btn-primary btn-lg moderator_link"
    .col-md-12.container.game.reset
      .col-sm-6.reset
        .countdown
        .scoreboard
          .username_header
            %span.username_span 
        %h1.question_header QUESTION
        .question
      .col-sm-6.reset
        %ul.leaderboard_answers

    .col-md-12.playerboard.reset
      =image_tag("blue_content_horizontal.png", style: "width:100%")
%div.new_session
