%p#notice= notice

%p
  %b Game:
  = @leaderboard.game
%p
  %b Description:
  = @leaderboard.description
%p
  %b Date:
  = @leaderboard.date

= link_to 'Edit', edit_leaderboard_path(@leaderboard)
\|
= link_to 'Back', leaderboards_path
