= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :company
    = f.input :tou

  .form-actions
    = f.button :submit
