.container
  = link_to 'New Question', new_admin_question_path, :class => "btn-action"

  %h1 Listing questions

  %table
    %thead
      %tr
        %th Question
        %th Answer1
        %th Answer2
        %th Answer3
        %th Answer4
        %th Solution
        %th
        %th
        %th
    %tbody
    - @questions.each do |question|
      %tr
        %td= question.question
        %td= question.answer1
        %td= question.answer2
        %td= question.answer3
        %td= question.answer4
        %td= question.solution
        %td= link_to 'Show', [:admin, question], :class => "btn-default"
        %td= link_to 'Edit', edit_admin_question_path(question), :class => "btn-default"
        %td= link_to 'Destroy', [:admin, question], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn-default"


  = link_to 'New Question', new_admin_question_path, :class => "btn-action"