
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}

.leaderboard-container {
  width:1920px;
  background:yellow;
  margin:auto;
  height:1080px;
}
.leaderboard-container-aside {
  width:30%;
  background:#0599d4;
  height:1080px;
  float:left;
  
}
.leaderboard-container-section{
  display: none;
  width:70%;
  height:1080px;
  float:left;
  background: #c9c9c9; /* Old browsers */
  background: -moz-linear-gradient(left,  #c9c9c9 0%, #fbfbfb 50%, #bdbdbd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c9c9c9), color-stop(50%,#fbfbfb), color-stop(100%,#bdbdbd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #c9c9c9 0%,#fbfbfb 50%,#bdbdbd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #c9c9c9 0%,#fbfbfb 50%,#bdbdbd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #c9c9c9 0%,#fbfbfb 50%,#bdbdbd 100%); /* IE10+ */
  background: linear-gradient(to right,  #c9c9c9 0%,#fbfbfb 50%,#bdbdbd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#bdbdbd',GradientType=1 ); /* IE6-9 */
  
}

.logo-container{
  width:100%;
  height:33%;
}

.logo-container img{
  max-width:100%;
  height:auto;
}

.leaderboard-list ol{
  margin:0;
  padding:0;
  text-align:center;
  color:#ffffff;
  text-transform:uppercase;
  font-size:1.250em;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

.leaderboard-list ol li:nth-child(odd) {
  background: #7fccec;
  list-style-position: inside;
  height:50px;
  line-height: 50px;
}
.leaderboard-list ol li:nth-child(even) {
  background: #0599d4;
  list-style-position: inside;
  height:90px;
  line-height: 90px;
}

.question-container{
  width:100%;
  height:590px;
}

.question-container-left{
  width:660px;
  padding:75px 0 0 65px;
  float:left;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}
.question-container-left h1{
  color:#0098d7;
  text-transform:uppercase;
  font-size: 100px;
  margin: 0;
}
.question-container-left p {
  color:#000000;
  font-size: 30px;
  margin:0;
  width:590px;
  text-align: left;
  
}
.text-align-center{
  text-align:center;
}
.margin-top-50{
  margin-top:50px !important;
}
.question-container-right{
  width:550px;
  float:right;
  padding:50px 0 0 0;
}

.timer-progress-container{
  height:75px;
  width:590px;
  background:#0098d7;
  border:1px solid #f0f0f0;
  border-radius:10px;
  margin-left:0;
  margin-top:20px;
  
}
.leaderboard-circle{
  height:100px;
  width:100px;
  border-radius:50%;
  line-height:100px;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  color:#000000;
  text-align:center;
  border: 2px solid #0d99d6;
  font-weight:700;
  font-size:30px;
  float:left;
  padding:0;
  margin:0;
}

.leaderboard-circle--active{
  background:#cede00;
}


.question-container-right {
  color:#000000;
  font-size: 30px;
  margin:0;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

.head-to-head-container{
  width:100%;
  height:420px;
  background:#0098d7;
  display:block;
}


.single-question{
  margin:10px 0;
  display:block;
}

.single-question-text{
  
  float: left;
  width: 360px;
  margin: 30px 0 0 20px !important;
  line-height: 100%;
  
}
.lightbulb-container-left{
  width:300px;
  float:left;
  margin-top:10px;
}

.single-leaderboard-lightbulb{
  margin:10px 0 ;
}

.lightbulb-container-right > .single-leaderboard-lightbulb > .leaderboard-lightbulb-right-text-2, .leaderboard-lightbulb-right-text-3, .leaderboard-lightbulb-right-text-4, .leaderboard-lightbulb-right-text-5, .leaderboard-lightbulb-right-text-6{
  float:right !important;
}
.lightbulb-container-right > .single-leaderboard-lightbulb > .leaderboard-lightbulb-square {
  float:right !important;
}

.leaderboard-lightbulb-square{
  height:60px;
  width:60px;
  line-height:60px;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  color:#ffffff;
  text-align:center;
  font-weight:700;
  font-size:30px;
  float:left;
  padding:0;
  margin:0;
  background:#000000;
}
.leaderboard-lightbulb-left-2,.leaderboard-lightbulb-left-3,.leaderboard-lightbulb-left-4,.leaderboard-lightbulb-left-5,.leaderboard-lightbulb-left-6{
  background: url("off-light-bulb.png");
  height:80px;
  width:100px;
  float:left;
  background-repeat: no-repeat;
  margin-top: -10px;
}

.leaderboard-lightbulb-left-2-success, .leaderboard-lightbulb-left-3-success, .leaderboard-lightbulb-left-4-success, .leaderboard-lightbulb-left-5-success, .leaderboard-lightbulb-left-6-success{
  background: url("on-light-bulb.png") !important;  
}



.leaderboard-lightbulb-right-2, .leaderboard-lightbulb-right-3, .leaderboard-lightbulb-right-4, .leaderboard-lightbulb-right-5, .leaderboard-lightbulb-right-6{
  background: url("off-light-bulb-right.png");
  height:80px;
  width:100px;
  float:right;
  background-repeat: no-repeat;
  margin-top: -10px;
}

.leaderboard-lightbulb-right-2-success, .leaderboard-lightbulb-right-3-success, .leaderboard-lightbulb-right-4-success, .leaderboard-lightbulb-right-5-success, .leaderboard-lightbulb-right-6-success{
  background: url("on-light-bulb-right.png") !important;  
}


.leaderboard-lightbulb-left-text-2, .leaderboard-lightbulb-left-text-3, .leaderboard-lightbulb-left-text-4, .leaderboard-lightbulb-left-text-5, .leaderboard-lightbulb-left-text-6, .leaderboard-lightbulb-right-text-2, .leaderboard-lightbulb-right-text-3, .leaderboard-lightbulb-right-text-4, .leaderboard-lightbulb-right-text-5, .leaderboard-lightbulb-right-text-6{
  color:#ffffff;
  text-align:left;
  font-weight:700;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  font-size:30px;
  float:left;
  padding:0;
  margin:20px 0 0 10px;
}

.center-player-display{
  width:735px;
  float:left;
  color:#ffffff;
  font-weight:700;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  font-size:40px;
  text-transform:uppercase;
  margin-top:150px;
  margin-left:10px;
  
  
}
.player1-center{
  word-wrap: break-word;
  text-align:center;
  margin:0;
  width:325px;
  float:left;
}
.end_score{
  text-align: center;
  margin: 0;
  width: 355px;
  float: left;
  font-size: 2em;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.versus{
  color:#000000;
  width:85px;
  margin:0;
  float:left;
  text-align:center;
  
  
}
.player2-center{
  word-wrap: break-word;
  text-align:center;
  margin:0; 
  width:325px;
  float:left;
   
}
.lightbulb-container-right{
  width:273px;
  float:right;
  margin-top:10px;
}
.total-score-container{
  margin-top:20px;
}
.total-score-player1{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  color:#000000;
  text-align:left;
  font-weight:700;
  font-size:30px;
  float:left;
  padding:0;
  margin:0 0 0 165px;
  width:185px;
}
.total-score-text{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
   color:#000000;
   text-align:center;
   font-weight:700;
   font-size:30px;
   float:left;
   padding:0;
   margin:0 0 0 0;
   width:600px;
   
}
.total-score-text-2{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
   color:#000000;
   text-align:center;
   font-weight:700;
   font-size:30px;
   float:left;
   padding:0;
   margin:0 0 0 0;
   width:70%;
   
}

.total-score-player2{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  color:#000000;
  text-align:right;
  font-weight:700;
  font-size:30px;
  float:right;
  padding:0;
  margin:0 165px 0 0;
  width:185px;
  
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  height: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #ed1c24;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #0098d7;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}