// style for the different articles (sections in the site)

.chatzone {
  background: rgba(0, 182, 182, 0.5);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 280px;
  z-index: 9999;
  #userwrap {
    background: @darkgray;
    box-sizing: border-box;
    height: 60px;
    font-size: 20px;
    padding-top: 1em;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    .username {
      display: inline-block;
    }
    .close-btn {
      margin-top: -6px;
    }
  }
  #usersListWrap {
    box-sizing: border-box;
    border-bottom: 1px solid darken(@darkgray,10%);
    padding-bottom: 10px;
    padding-top: 1em;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
  }
  #chatwrap {
    box-sizing: border-box;
    height: 350px;
    padding-left: 20px;
    padding-right: 20px;
    #chat-content {
      height: 280px;
      overflow-y: scroll;
      background: @lightgray;
      border-radius: 4px;
      color: @black;
      padding: 5px;
      margin-bottom: 6px;
    }
  }
}


#gamepage {
  background: image-url("gamepage/clouds.png") repeat-x 0 -80px;
  height: 100%;
  overflow: hidden;
  article {
    height: 85%;
    width: 100%;
  }
  ul#answers {
    li {
      list-style: none;
      background: @gray-questions;
      margin-bottom: 1em;
      color: @lightgray;
      width: 400px;
      display: block;
      padding: 7px 10px;
      cursor: pointer;
      box-sizing: border-box;
    }
    li:hover {
      background: @darkgray; 
      color: darken(@darkgray, 40%);
    }
  }
  .questionwrap {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-top: 90px;
    width: 400px;
    #question {
      background: @gray-questions;
      padding: 7px 10px;
      margin-bottom: 1em;
      color: @white;
      font-size: 1em;
      height: 120px;
      width: 100%;
      box-sizing: border-box;
    } 
    .countdown {
      background: image-url("../countdown-bg.png") no-repeat;
      color: @red;
      font-size: 1.8em;
      text-align: center;
      height: 45px;
      width: 45px;
      padding-top: 8px;
    }
    .countdown, h4, .sports, .art, .science, .entertainment, .geography, .history {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

#loader {
  background: @header;
  color: @lightgray;
  width: 100%;
  height: 100%;
  margin-top: -60px;
  .container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    text-align: center;
    .fa {
      display: block;
      font-size: 2em
    }
  }
}

