html{
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body{
  height: 100%;
}

.layer{
  position:absolute;
  left:0;
  top:0;
  width:350px;
  height:350px;
}

#total-score-player1-leaderboard, #total-score-player2-leaderboard {
  font-size: 30px;
  font-weight: 400;
}

.final-count-showdown {
  display: inline-block;
  margin: 50px 40px 0 40px;
}

.error {
  text-align: center;
  color: red;
}

.statement {
  text-align: center;
}

.thanks, .thanks_player_two, .prep-for-next-question, .prep-for-next-question-two, .new_game {
  text-align: center;
  padding-top: 200px;
}

.new_game h1, .thanks h1, .thanks_player_two h1, .prep-for-next-question > h1, .prep-for-next-question-two > h1 {
  color: #009ACD;
} 

#countdown_prep, #next_screen {
  font-size: 26px;
}

.terms-of-use {
  color: #009ACD !important;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 300;
}

.legal {
  width: 700px;
  margin: 0 auto 0 auto;
  height: 800px;
  overflow: scroll;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#first-name-error, #last-name-error, #email-error, #company-error, #tou-error {
  display: none;
}


.player_first_name,.player_last_name,.player_email,.player_company{
}

/*.correct-answer-on-leaderboard {
  background: green !important;
  border: 2px solid green !important;
}
*/
.brightest_bulb{
  text-align: center;
  font-size: 2.2em;
  left: 15%;
  position: relative;
  bottom: 55px;
  color: #fff;
  display: inline-block;
}

#leaderboard{
  height: 100%;
  background: url("full_main_bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.leaderboard_answers{
  list-style-type: none;
  text-align: center;
  top: 60px;
  position: relative;
}

.moderator_link{
  background: #009acd;
  width: 200px;
  color: #fff !important;
  display: block;
  margin-left: 1140px;
}

.leaderboard_letter_list{
  margin-bottom: 30px;
  font-size: 1em;
}

#top_10_ul{
  margin-bottom: 20px;
  padding-left: 0;
  font-size: 1.5em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

#top_10_list{
  background: #009acd;
  color: #fff;
  border: none;
}
#top_10_list:nth-child(odd){
  background: #7fccec;
}
.reset{
  margin: 0px;
  padding: 0px;
}

.audacy_lb{
  height: 20px;
}

#blue_content_horizontal{

}

#blue_content{
  background: url("blue_content.png") repeat-y;
  height: 100%;
}
/*#main_content{
  background: url("full_main_bg.png") repeat-y;
  min-height: 1200px;
}*/

.thanks, .thanks_player_two, .new_game{
  display: none;
}

.game{
  margin:0 auto;
  display: none;
}
.pregame{
  margin: 0 auto;
  min-height: 400px;
  text-align: center;
  top: 250px;
  position: relative;
}
  
.pregame_image{
  margin: 150px auto 50px auto;
}

.playerboard{
  display: none;
}

.gamepage{
  display: none;
}

.scoreboard{
  float: right;
}

.username_header{
  text-align: center;
  margin-top: 0px
}

.prep-for-next-question, .prep-for-next-question-two {
  display: none;
}

.score{
  color: white;
  font-size: 1.4em;
  text-align: center;
  height: 60px;
  width: 60px;
  display: inline-block;
  background: #009ACD;
  padding: 16px 0px;
  border-radius: 100px;
  top: 10px;
  position: relative;
  margin-bottom: 15px;
}

#correct_answer{
  display: none;
  width: 520px;
  height: 150px;
  background-color: #98FB98;
  position: relative;
  margin: 0 auto;
  bottom: 350px;
  color: #fff;
  text-align: center;
  font-size: 3em;
  padding: 65px;
}

.username_span{
  display: block;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
}

.question_header{
  color: #009ACD;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  clear: both;
}

#trivia_game{
  display: none;
}

.question{
  font-size: 2em;
  position: relative;
  display: block;
  margin: 30px auto;
  text-align: center;
  line-height: 120%;
  -webkit-font-smoothing: antialiased;
}

ul.answers, ul.player_two_answers{
  padding: 0px;
  text-align: center;
}

/*.correct-answer, .incorrect-answer {
  text-align: center;
  margin: 10px auto 10px auto;
  display: none;
}*/

.example {
  display: none;
}

#circled-answers > .answer, #circled-answers-player-two > .answer-two, .fakebutton, .fakebutton_two {
  list-style: none;
  background: #009ACD;
  margin: 1em;
  color: #000000;
  display: inline-block;
  height: 155px;
  width: 155px;
  border-radius: 50%;
  border: 4px solid #009ACD;
  font-size: 30px;
  background-color: #fff;
  font-weight: 600;
}

#timer-text {
  text-align: center;
  margin-top: 45px;
}

#progressBar {
  width: 60%;
  margin: 10px auto 0 auto;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #009ACD;
  box-sizing: border-box;
  border-radius: 10px;
}

.correct-notification, .incorrect-notification, .correct-notification-two, .incorrect-notification-two {
  display: none;
  text-align: center;
}

#circled-answers, #circled-answers-player-two {
  text-align: center;
  padding-left: 0px;
}

#circled-answer, #circled-answer-two {
  text-align: center;
  margin: 0px 2px 0px 2px !important;
}

li.listed-answer{
  margin: 3em;
  color: #000000;
  box-sizing: border-box;
  text-align: center !important;
  font-size: 1.2em;
  overflow: hidden;
}

.countdown{
  color: white;
  font-size: 1.4em;
  text-align: center;
  height: 60px;
  width: 60px;
  display: none;
  background: red;
  padding: 16px 0px;
  border-radius: 100px;
  top: 10px;
  position: relative;

}

.wrap_button{
  width: 350px;
  height: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.play_link{
  color: #fff !important;
  padding:60px;
  font-size: 24px;
}

.play_link:hover, .play_link:active, .play_link:visited{
  text-decoration: none;
  background-color: transparent !important;
}

.legal-page-layout {
  display: none;
}

.accept-terms-button {
  width: 200px !important;
  margin: 10px auto 30px auto;
  background-color: #009ACD;
  color: #fff !important;
  font-size: 1.5em;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
}

.sign_up_button {
  background-color: #009ACD;
  color: #fff !important;
  font-size: 3em;
  height: 70px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.sign_up_button:hover{
  background-color: #007ba4;
}

.find_out{
  color: #000 !important;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none !important;
  border: 2px solid black;
  padding: 5px;
}
.find_out:hover{
  text-decoration: none !important;
  color: #000 !important;
  background: transparent;
}

.new_game_link{
  display: none;
  margin: 0 auto;
  position: relative;
  color: #fff;
  font-size: 3em;
  padding: 10px;
  background: #009acd;
  border-radius: 20px;
}
}
.find_out:visited, .find_out:active{
  text-decoration: none !important;
}
.sign_up_container{
  display: none;
}
.align_center{
  text-align: center;
}
.lightbulb{
  font-size: 50em;
  color:#009ACD;
}
.tagline{
  
  color: #000;
  font-weight: bold;
  font-size: 3.5em;
  margin-bottom: 50px;
}
.sub_tagline{
  
  color: #009ACD;
  font-size: 2em;
}

.dot {
  z-index: 10;
  border: 10px solid #009ADF;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  background-color: #009ACD;
  text-align: center;
  line-height: 300px;
  font-size: 5em;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica';
  margin: 0 auto;
  display: inline-block;
}

.pulse {
  z-index: -1;
  margin: 0 auto;
  display: inline-block;
  border: 30px solid #009ACD;
  -webkit-border-radius: 350px;
  -moz-border-radius: 350px;
  border-radius: 350px;
  -webkit-animation: pulse 2.5s ease-out;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.dot:hover{
  background-color: #007ba4;
  border: 10px solid #007ba4;
}
.pulse:hover{
  background-color: #007ba4;
  border: 30px solid #007ba4;
}

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -moz-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -moz-transform: scale(1);
    opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
  0% { -webkit-transform: scale(1); }

  30% { -webkit-transform: scale(1); }

  40% { -webkit-transform: scale(1.08); }

  50% { -webkit-transform: scale(1); }

  60% { -webkit-transform: scale(1); }
  
  70% { -webkit-transform: scale(1.05); }

  80% { -webkit-transform: scale(1); }

  100% { -webkit-transform: scale(1); }
}
/*_________________________________________________*/
.responsive_circles{
    margin:0px auto;
}
.responsive_circles > div {
    overflow:hidden;
    float:left;
    width:auto;
    height:auto;
    position: relative;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    background:#eee;
}

.responsive_circles > div > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.responsive_circles > div > div > div {
    display: table;
    width: 100%;
    height: 100%;
}
.responsive_circles > div > div > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 320px)
{
    .responsive_circles > div {padding: 50%;}
}

@media (min-width: 321px) and (max-width: 800px)
{
    .responsive_circles > div {padding: 25%;}
}

@media (min-width: 801px)
{
    .responsive_circles{width:800px}
    .responsive_circles > div {padding: 12.5%;}
}



/*dot mobile ipad*/
/*  width: 350px;
  height: 350px;
  border: 10px solid darkcyan;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  background-color: #009ACD;
  z-index: 10;
  text-align: center;
  line-height: 330px;
  font-size: 5em;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica';
  margin: 0 auto;
  position: relative;
  display: inline-block;
  top: -100px;*/

  /*pulse mobile ipad*/
/*
  top: 250px;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  border: 30px solid darkcyan;
  -webkit-border-radius: 350px;
  -moz-border-radius: 350px;
  border-radius: 350px;
  height: 350px;
  width: 350px;
  z-index: 1;*/