// variables of colour and mixings

@black: #000;
@darkgray: #222;
@gray-questions: #313131;
@middle-gray: #555555;
@lightgray: #dfdfdf;
@red: #eb615f;
@lightblue: #009ACD;
@blue: #14b6b6;
@blue-disabled: #b6d3d3;
@dark-blue: #007f9b;
@white: #fff;

// layout
@header: @darkgray;
@inputtext: @middle-gray;
@footer: @darkgray;
@footer-text: @lightgray;
@body: @middle-gray;



