/ %section#gamepage
/   .container#game
/     .countdown
/     .scoreboard
/       .username_header
/         %span#score
/         %span#username_span
          
/     %h1.question_header QUESTION
/     #question
/     %ul#answers