.question_interval_number{style: "display:none;"}
%section.homepage
  .container.align_center.welcome_container
    =image_tag('final_lightbulb.png', class: "lightbulb_icon")
    %h1.tagline
      ARE YOU <br> <span style="color:#009ACD">THE BRIGHTEST </span><br> <span style="color:#009ACD">BULB?</span>
    %h3.sub_tagline 
    = link_to "LET'S FIND OUT", "#", class: "find_out", id:"lets_find_out"
    =image_tag('audacy.png', class: "audacy_logo")


  .container.sign_up_container
    .row.sign_up_row 
      %h1.text-center.login-title
      .account-wall
        =image_tag('audacy.png', class: "audacy_logo")
        = simple_form_for @player do |f|
          = f.label :first_name, "FIRST NAME:", style:"font-size:1.5em"
          = f.input :first_name, label: false, required: true
          .error#first-name-error *First name must be filled out
          %br/
          = f.label :last_name, "LAST NAME:", style:"font-size:1.5em"
          = f.input :last_name, label: false, required: true
          .error#last-name-error *Last name must be filled out
          %br/
          = f.label :email, "EMAIL:", style:"font-size:1.5em"
          = f.input :email, label: false, required: true
          .error#email-error *Email must be filled out
          %br
          = f.label :company, "COMPANY:", style:"font-size:1.5em;"
          = f.input :company, label: false, required: true
          .error#company-error *Company must be filled out
          %br
          .statement By clicking 'Play', you agree to the <span class="terms-of-use">Terms of Use</span>
          %br
          = f.submit "PLAY", class: "btn btn-block sign_up_button player-one-form", id:"player_one_submit_button"

  .container#trivia_game
    .wrap_button
      .layer.pulse
      .layer.dot
        = link_to "Waiting For Host..", "#", id:"play_trivia", class: "play_link"

%section.prep-for-next-question
  %h1 Next Question in:
  %h4#countdown_prep 8

%section.gamepage.end_of_game
  .container.game
    .countdown
    .scoreboard
      .username_header
        %span.score
        %span.username_span     
    %h1.question_header QUESTION:
    .question
    %ul.answers
    %ul#circled-answers
    %h3.correct-notification Correct!
    %h3.incorrect-notification Incorrect
    %h4#timer-text TIMER:
    #progressBar
      %div
%div.thanks
  %h1 Thanks for Playing!
  %h2 Your score was:
  %span.score

%section.legal-page-layout
  =image_tag('audacy.png', class: "audacy_logo")
  .legal
    %p{:style => "text-align:center;"}
      <strong>The Brightest Bulb Trivia Contest
      May 5, 2015
      OFFICIAL RULES</strong>
    %p
      <strong>Important: Please completely read Official Rules before entering this contest (the "Contest").  By participating in the Contest, you agree to be bound by these Official Rules and represent that you satisfy all of the eligibility requirements below.</strong> 
    %p
      <strong><u>NO PURCHASE OR PAYMENT OF ANY KIND IS NECESSARY TO ENTER OR WIN THIS CONTEST.  A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING.  PROMOTION VOID WHERE PROHIBITED BY LAW.</u></strong>
    %p
      <strong>1. Sponsor</strong> - IDEAL INDUSTRIES, INC., 1 Becker Place, Sycamore, Illinois, 60178.
    %p
      <strong>2. Eligibility</strong> - Promotion open to legal residents of the fifty (50) united states (and district of columbia) and ALL INTERNATIONAL non-exhibitor attendeeS at the 2015 LIGHTFAIR TRADE SHOW IN NEW YORK, NY MAY 5, 2015 through MaY 7, 2015, who are at least 21 years old. if you do not meet these requirements, or any other eligibility requirements in these official rules, you are not eligible to win the prize, and ideal industries, inc. ("sponsor") reserves the right not to award the prize to you. To be eligible to win the prize, entries must follow the entry format designated in Section 4 below. Directors, officers and employees of Sponsor, and any of their respective parent companies, affiliate companies, subsidiaries, agents, professional advisors, advertising and promotional agencies, immediate families of each and persons living in the same household (whether related or not) are not eligible to win any prizes. This promotion is subject to all applicable federal, state and local laws and regulations.
    %p
      <strong>3. Promotion Period.</strong> The Promotion runs from 10:00 AM to 5:00 PM (Eastern Time) on May 5, 2015 and May 6, 2015, and from 9:00 AM to 2:00 PM (Eastern Time) on May 7, 2015 (the "Promotion Period").  Contest times may not be continuous and contest activities may be paused, at Sponsor representative’s discretion.  All entries must take place during the Promotion Period to be eligible to win a prize.
    %p
      <strong>4. How to Enter.</strong> You may enter the contest at the AUDACY™ Exhibition Booth #3817 at the 2015 LIGHTFAIR TRADE SHOW on May 5, 2015 through May 6, 2015 during the times specified in paragraph 3.  Contestants will use Sponsor’s electronic tablet to provide their contact information and answer 5 trivia questions.  There must be two contestants at a time for each play.
    %p
      <strong>For all entries.</strong> All requested contact information must be provided for your entry to be valid. All Promotion materials including information provided at time of Promotion entry become the sole property of Sponsor and will not be returned. All entrants and entries are subject to verification by Sponsor. Any submission that does not comply with any aspect of these Official Rules may be rejected by Sponsor and the contestant disqualified.
    %p
      <strong>5. Disclaimer</strong> – IDEAL INDUSTRIES, INC., all participating sponsors and any of their respective parent companies, subsidiaries, affiliates, wholesalers, distributors, directors, officers, professional advisors, employees and agencies (collectively, the "Released Parties") will not be responsible for: (a) any late entries; (b) any electronic, hardware, software, malfunctions or failures; (c) any Promotion disruptions, injuries, losses or damages caused by events beyond the control of Sponsor or by non-authorized human intervention; or (d) any printing or typographical errors in any materials associated with the Promotion.
    %p
      <strong>6. Prizes.</strong> One (1) Prize Winner will receive an Apple Watch - 42mm Silver Aluminum Case with Blue Sport Band (RTV $399)
    %p
      <strong>7. Odds of winning; Taxes; Etc.</strong> Odds of winning a prize depend on number of eligible participating contestants. ALL FEDERAL, STATE AND LOCAL TAXES ASSOCIATED WITH THE RECEIPT OR USE OF ANY PRIZES ARE THE SOLE RESPONSIBILITY OF THE WINNER. The prize may, at Sponsor's sole discretion, be forfeited and awarded to an alternate winner if the prize is returned as undeliverable or otherwise not claimed within five (5) days after delivery of notification, or, alternatively, if three (3) attempts to contact winner by phone and/or email with the prize notification are not successful. The prize is not transferable. Substitutions or exchanges (including cash) will not be permitted, except that Sponsor reserves the right to substitute a prize of equal or greater value.  The prize is awarded "AS IS" and WITHOUT WARRANTY OF ANY KIND, express or implied (including, without limitation, any implied warranty of merchantability or fitness for a particular purpose).
    %p
      <strong>8. Winner Selection.</strong> The prize winner will be the contestant that answers the most trivia questions correctly in the least amount of time.  The scores are tabulated electronically by the tablet contest software.   The winner will be notified via email and/or phone by May 14, 2015. To claim the prize, the winner should follow the instructions provided in the notification.  In the event of a tie for first place, both contestants will receive the prize.
    %p
      <strong>10. Official Rules Request; Winners List.</strong> To obtain a copy of these Official Rules, send a stamped, self-addressed business-size envelope to Sponsor at the address listed in Section 1 above, Attn: The Brightest Bulb Trivia Contest – Official Rules.  To obtain the a list of contest winners, send a stamped, self-addressed business-size envelope after May 14, 2015 to Sponsor at the address listed in Section 1 above, Attn: The Brightest Bulb Trivia Contest – Winners List.
    %p
      <strong>11. Use of Winner’s Name, Likeness, etc.</strong> Except where prohibited by law, entry into the Promotion constitutes permission for Sponsor and Sponsor's licensees to use the winner's name, hometown, likeness and/or prize information, without limitation, for promotional purposes without further permission or compensation. As a condition of being awarded any prize, except where prohibited by law, the winner may be required to execute a consent to the use of his/her name, hometown, likeness and/or prize information, without limitation, for promotional purposes without further permission or compensation.
    %p
      <strong>12. Personal Information of Entrant.</strong> By entering the Promotion, you agree and consent to Sponsor’s collection, use and retention of the personal information provided in your entry for all purposes related to the Promotion (including, without limitation, processing and administering entries, sharing an entrant’s personal information with Sponsor’s service providers and contractors as necessary to conduct and operate the Promotion, communicating with and awarding prizes to winners, making public announcements about winners, and advertising, promoting and publicizing the Promotion).  Personal information provided in your entry will also be subject to Sponsor’s Privacy Policy published at www.idealindustries.com.  If you object to the above or anything stated in Sponsor’s Privacy Policy, you should NOT enter the Promotion.
    %p
      <strong>13. General Release. By entering the Promotion, you release Sponsor, and all Released Parties from any liability whatsoever, and waive any and all causes of action, related to any claims, costs, injuries, losses, or damages of any kind arising out of or in connection with the Promotion or delivery, misdelivery, acceptance, possession, use of or inability to use any prize (including, without limitation, claims, costs, injuries, losses and damages related to personal injuries, death, damage to or destruction of property, rights of publicity or privacy, defamation or portrayal in a false light, whether intentional or unintentional), whether under a theory of contract, tort (including negligence), warranty or other theory.</strong>
    %p
      <strong>14. Miscellaneous.</strong> The Promotion and these Official Rules will be governed, construed and interpreted under the laws of the State of Illinois. Entrants consent to the jurisdiction and venue of the federal, state, and local courts located in Illinois.  Entrants agree to be bound by these Official Rules and by the decisions of Sponsor, which are final and binding in all respects. Sponsor reserves the right to change these Official Rules at any time, in its sole discretion, and to suspend or cancel the Promotion or any entrant's participation in the Promotion should viruses, bugs, unauthorized human intervention or other causes beyond Sponsor's control affect the administration, security or proper play of the Promotion, or Sponsor otherwise becomes (as determined in its sole discretion) incapable of running the Promotion as planned. In the event that Sponsor suspends or cancels the Promotion for any reason, Sponsor may award the prize to the winner with the best tallied score from all eligible entries received up to the date of cancellation or suspension. Entrants who violate these Official Rules, violate any law, rule or regulation in connection with participation in the Promotion, tamper with the operation of the Promotion or engage in any conduct that is detrimental or unfair to Sponsor, the Promotion or any other entrant (in each case as determined in Sponsor's sole discretion) are subject to disqualification from entry into the Promotion and are subject to possible prosecution to the full extent of the law. Sponsor reserves the right to lock out persons whose eligibility is in question or who have been disqualified or are otherwise ineligible to enter the Promotion. If you have any questions about these Official Rules or the Promotion, please mail written questions to IDEAL INDUSTRIES, Inc., IDEAL INDUSTRIES INC Attn: The Brightest Bulb Trivia Contest - Sweepstakes Questions, 1 Becker Place, Sycamore, IL 60178.
    %p
      <strong>15. Copyright Notice.</strong> The Promotion and all accompanying materials are copyrighted.
    %p
      © 2015 by IDEAL INDUSTRIES, INC. All rights reserved.
  %input{:type => "submit", :value => "Accept Terms", class: "btn btn-block accept-terms-button"}
